node_modules/**/*
app/node_modules/**/*
back/node_modules/**/*
front/node_modules/**/*
weplan_app/node_modules/**/*
weplan/node_modules/**/*
recursos/
admin/build/
admin/dist/
admin/public/assets/
admin/node_modules/**/*

.expo/*
npm-debug.*


build/
.idea
.gradle
local.properties
*.iml


back/
back/package-lock.json
*.iml