/*  IPORTANT: Comment this way  and not JS way "//" */


/*  better naming with camelCase than kebab-case */

.homeInfo {
  .mainTitle {
    color: #222 !important;
    font-weight: 800;
  }
  .lightNote {
    font-size: 0.7em;
  }
}
.logo{
  width:100%;
  margin:20px auto;
}
.alertaError{
  padding: 12px;
  text-align: center;
  margin-top: 15px;
}
.input{
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
.input::placeholder{
  color:white !important
}
table > thead > tr > th{
  padding: 8px !important;
  border-bottom: 1px solid #5e6870 !important;
  outline: none;
}
table > tbody > tr{
  cursor:pointer
}
table > tbody > tr:hover{
  background-color:rgba(255,255,255,.1)
}
table > tbody > tr:focus{
  background-color:rgba(255,255,255,.3)
}
table > tbody > tr > th,
table > tbody > tr > td{
  padding: 18px 9px !important;
  border-top: 0;
  border-bottom: 1px solid #5e6870;
  outline: none;
}
.usersContainer{
  background-color: #30363c;
  color: #88939C;
  border-radius:8px;
  padding:20px;

  h2{
    margin:0;
    padding-top:0px;
    color:#ffffff;
    text-align:center;
  }
  p{
    white-space: nowrap;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #353c42;
    padding: 4px 6px 2px;
    border-radius: 2px;
  }
  img{
     border-radius: 6px;
  }
  .mapa{
    position:absolute;
    height: 305px !important;
  }

}
.usersContenedor{
    span{
      margin-right:10px
    }
    a{
      color:white;
      font-size:20px;
      cursor:pointer
    }
    .active{
      color: #495057;
      background-color: #fff;
      border-color: #dee2e6 #dee2e6 #fff;
    }
}
  
.boxPlan{
  height:500px
}
.mapa{
  left:0;
  width: 100%;
  left:0;
  height: 450px !important;
  margin-top:20px
}
.renderAsignados{
  
}
.searchBox{
  margin-top:10px;
  padding:10px;
  width:100%
}


.react-datepicker,
.react-datepicker-wrapper{
width:100%
}








