/* common: */

@import "./common.scss";

.navbar-default .navbar-collapse{
	background:#148dc9
}

nav{
	background-color:#148dc9 !important;
	a{
		color:white !important;
		font-size:18px;
		padding:16px 15px !important
	}
}