/*  IPORTANT: Comment this way  and not JS way "//" */


/*  better naming with camelCase than kebab-case */
@font-face {
   font-family: 'Futura';
   font-style: normal;
   font-weight: 400;
   src: url('../../assets/fonts/Futura-CondensedLight.eot');
   src: url('../../assets/fonts/Futura-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-CondensedLight.eot') format('woff2'),
        url('../../assets/fonts/Futura-CondensedLight.woff') format('woff'),
        url('../../assets/fonts/Futura-CondensedLight.ttf') format('truetype'),
        url('../../assets/fonts/Futura-CondensedLight.svg') format('svg');
}
/*********************    MENU SECUNDARIO      *******************/
.navegacion{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 25px;
    box-shadow: 0px 5px 24px 3px rgba(128, 128, 128, 0.31);

	img{
		width: 77px;
	}
	ul{
		float: right;
		height: 100%;
		padding: 20px 0;
		margin: 0;
		li{
			display: inline-block;
			a{	
				padding: 8px;
			    border-radius: 5px;
			    font-size: 24px;
			    margin: 1px !important;
			    color: #009de5;
			}
		}
		.cuentaBtn{
			background-color: #009de5;
			color: #ffffff;
		}
	}
}
body, *{
	font-family: 'Futura' !important;
}

/*********************    SECTION 1            *******************/
.banner{
	background-color: #ffffff;
}

.logo{
	width:100px
}
.navigator{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 25px;
    background: rgba(0,0,0,0);
	ul{
		float: right;
		height: 100%;
		padding: 20px 0;
		background: rgba(0,0,0,0) !important;
		margin: 0 !important;
	}
	li{
		display: inline-block;
		a{
			padding: 8px;
		    border-radius: 5px;
		    font-size: 24px;
		    margin: 1px !important;
		    color: #009de5;
		}
	}
	.cuentaBtn{
		background-color: #009de5;
		color: #ffffff;
	}
}


.contenedorBanner{
	>div{
		display:inline-block
	}
	position:absolute;
	right:0;
	bottom:0;
	img{
		width:450px;
		position:relative;
	}
	h1{
		display:inline-block;
		position:relative;
		font-size: 53px;
    	line-height: 48px;
	}
}
.contenedorBannerIzq{
    position: relative;
    z-index: 2;
    color: #ffffff;
    background: rgba(70, 48, 48, 0.18824);
    width: 30%;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
        padding: 10px 0;
	h2{
		font-size: 36px;
    	line-height: 27px;
    	margin: 26px 0;
		color: #ffffff;
	}
}
.modal{
    position: absolute;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: auto;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
	>div{
		height: 100%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    flex-direction: column;
	    margin: 40px auto;
	}
}
.btnClose{
	position: absolute;
	z-index: 100;
	color: #605e5e;
	top: 20px;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
}

.btnDescargar{
	cursor:pointer;
	background: #009de5;
    width: 126px;
    margin: auto;
    color: white;
    border-radius: 12px;
    padding: 3px;
    font-size: 22px;
    box-shadow: 3px 3px 12px #5957576b;
}


/************.  SECTION 2 ********/
.section2{
	text-align:center;
	position: relative;
	top: 130px;
	h2{
		font-size: 40px;
	}
	div{
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
	}
	>p{
		font-size: 20px;
		width: 56%;
		text-align: center;
		margin: 22px auto;
	}
	aside{
		width:18%;
		display:inline-block;
		margin: 0 1%;
		p{
			color:#ffffff;
			font-size:15px
		}
	}
	section{
		display:none
	}
	img{
		width:100%
	}
}

 
/************.  SECTION 3 ********/

.section3{
	position: relative;
    top: 97px;
        max-width: 1400px;
    margin: auto;
	ul{
		margin:0
	}
	li{
		display:inline-block;
		width:33%
	}
	h3{
		font-size: 30px;
	    line-height: 36px;
	    position: relative;
	    top: 20px;
	    margin: auto;
	    text-align: center;
	}
	li:nth-child(2){
		// top: 120px;
    	position: relative;
	}
	img{
		width:96%
	}
	section{
		display:none
	}
}

footer{
	background: #cccccc;
	padding: 18px;
	    position: relative;
    top: 100px;
    ul{
    	display: inline-block;
	    margin: 0;
	    width: 50%;
	    text-align: center;
    	li{
			display:inline-block
		}
		a{
			padding:10px
		}
		i{
			font-size:23px
		}
    }
	
}



@media (max-width: 1300px) {
	.section2{
		aside{
			p{
				color:#ffffff;
				font-size:12px
			}
		}
	}
}

@media (min-width: 1700px) {
	.section2{
		width:80%;
		margin:auto;
		aside{
			width:18%;
			display:inline-block;
			margin: 0 1%;
			p{
				color:#ffffff;
				font-size:12px
			}
		}
	}
}
@media (max-width: 480px) {
	.contenedorBannerIzq{
		width:100%
	}
	.contenedorBanner{
		display:none
	}
	.menu, .navegacion{
		a{
			display:none !important
		}
		.cuentaBtn{
			display:block !important
		}
	}
	.navegacion{
		ul{
			padding:0
		}
	}
	.section2{
		    background-color: rgba(128, 128, 128, 0.16862745098039217);
    		position: relative;
    		top: 65px;
		aside{
			width:44%;
			display:inline-block;
			margin: 0 2%;
			display:none
		}
		section{
			display:block
		}
		img{
			width: 60%;
			margin-top:-260px
		}
		h2{
			font-size: 15px;
    		line-height: 27px;
    		margin:0 !important
		}
		>p{
			width: 99%;
		    margin: 22px auto;
		    line-height: 20px;
		    font-size: 12px;
		}
	}
	.section3{
		ul{
			display:none
		}
		section{
			display:block
		}
		li{
			display:inline-block;
			width:33%
		}
		h3{
			font-size: 30px;
		    line-height: 36px;
		    position: relative;
		    top: 20px;
		    margin: auto;
		    text-align: center;
		}
		li:nth-child(2){
			// top: 120px;
	    	position: relative;
		}
		img{
			width: 60%;
			margin: auto;
			display: block;
			position:relative
		}
	}
	footer{
		position: absolute;
		bottom: 0;
		z-index:100;
		ul{
			padding: 0;
			a{
				padding: 5px
			}
		}
		
	}
}
@media (max-width: 375px) {
	.section2{
		img{
			width: 60%;
			margin-top:-260px
		}
		>p{
			width: 99%;
		    margin: 22px auto;
		    line-height: 20px;
		    font-size: 15px;
		}
	}

}
 


