/*  IPORTANT: Comment this way  and not JS way "//" */


/*  better naming with camelCase than kebab-case */
@font-face {
   font-family: 'Futura';
   font-style: normal;
   font-weight: 400;
   src: url('../../assets/fonts/Futura-CondensedLight.eot');
   src: url('../../assets/fonts/Futura-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-CondensedLight.eot') format('woff2'),
        url('../../assets/fonts/Futura-CondensedLight.woff') format('woff'),
        url('../../assets/fonts/Futura-CondensedLight.ttf') format('truetype'),
        url('../../assets/fonts/Futura-CondensedLight.svg') format('svg');
}
body, *{
	font-family: 'Futura' !important;
}
////////////////////////////////////////////////////////////////////////
////////////////////////			MENU
////////////////////////////////////////////////////////////////////////
.banner{
	background-color: #ffffff;
}

.logo{
	width:100px
}
.navigator{
	position: fixed;
	box-shadow: 1px 1px 6px 1px rgba(128, 128, 128, 0.24);
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 25px;
	background: #ffffff;
	z-index: 1000;
	ul{
		float: right;
		height: 100%;
		padding: 20px 0;
		background: rgba(0,0,0,0) !important;
		margin: 0 !important;
	}
	li{
		display: inline-block;
		a{
			padding: 8px;
		    border-radius: 5px;
		    font-size: 24px;
		    margin: 1px !important;
		    color: #009de5;
		}
	}
	.cuentaBtn{
		background-color: #009de5;
		color: #ffffff;
	}
}

////////////////////////////////////////////////////////////////////////
////////////////////////			PLANES BANNER
////////////////////////////////////////////////////////////////////////
.contenedorPlanes{
		margin: 100px auto 0;
		width: 97%;
	.contenedorTitulo{
		background: #cecece;
		margin: 0 1%;
		border-radius: 5px;
		text-align: center;
	}
	h1{
		display: inline-block;
		font-size: 22px;
		margin: 11px 18px;
	}
	.btnDescargar{
		cursor: pointer;
		background: #009de5;
		-webkit-box-shadow: 3px 3px 12px rgba(89, 87, 87, 0.41961);
		box-shadow: 3px 3px 12px rgba(89, 87, 87, 0.41961);
		display: inline-block;
		margin: auto;
		color: white;
		width: 126px;
		border-radius: 10px;
		padding: 0px;
		font-size: 19px;
		p{
			padding: 4px 5px;
		}
	}
	aside{
		display: inline-table;
		-webkit-box-shadow: 0px 2px 5px 3px rgba(128, 128, 128, 0.29);
		box-shadow: 0px 2px 5px 3px rgba(128, 128, 128, 0.29);
		border: 1px solid rgba(128, 128, 128, 0.36863);
		margin: 9px 1%;
		width: 23%;
	}
	h2{
		width: 100%;
		padding: 10px 5px;
		line-height: 23px;
		margin: 0;
	}
	p{
		display: inline-table;
		padding: 10px 5px;
		margin:0;
		width: 50%;
	}
	a{
		display: inline-table;
		text-align: right;
		width: 50%;
		padding: 0 10px;
	}
	.subContenedorPlanes{
		flex-direction:row
	}
	.contenedorBtn{
		display: block;
		text-align: right;
		margin: 0 1%;
	}
}
.imgLoader {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #827f7f;
}

 
 
.modal{
    position: absolute;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 103px;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
	>section{
		height: 100%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    flex-direction: column;
	    margin: 40px auto;
	}
	div{
		text-align: center;
		a{
			font-size: 50px;
			color: #021f02;
		}
	}
	.separador {
		width: 100%;
		margin: 30px 0 ;
		padding: 0;
		text-align: center;
	}
	.separador:after {
		display: inline-block;
		margin: 0 0 8px 20px;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 140px;
	}
	.separador:before {
		display: inline-block;
		margin: 0 20px 8px 0;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 140px;
	}
}
.btnClose{
	position: absolute;
	z-index: 100;
	color: #605e5e;
	top: 20px;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
}




/************.  SECTION 2 ********/
.section2{
    text-align: center;
    position: relative;
    top: 50px;
    background: #009de5;
    padding: 13px 0;
	h2{
		font-size: 40px;
		color:#ffffff
	}
	div{
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
	}
	>p{
		text-align: center;
		color:#ffffff;
		font-size: 20px;
		width: 56%;
		margin: 22px auto;
	}
	aside{
		width:18%;
		display:inline-block;
		margin: 0 1%;
		p{
			color:#ffffff;
			font-size:15px
		}
	}
	section{
		display:none
	}
	img{
		width:100%
	}
}

 
/************.  SECTION 3 ********/

.section3{
	position: relative;
    top: 97px;
        max-width: 1400px;
    margin: auto;
	ul{
		margin:0
	}
	li{
		display:inline-block;
		width:33%
	}
	h3{
		font-size: 30px;
	    line-height: 36px;
	    position: relative;
	    top: 20px;
	    margin: auto;
	    text-align: center;
	}
	li:nth-child(2){
		// top: 120px;
    	position: relative;
	}
	img{
		width:96%
	}
	section{
		display:none
	}
}

footer{
	background: #cccccc;
	padding: 18px;
	    position: relative;
    top: 100px;
    ul{
    	display: inline-block;
	    margin: 0;
	    width: 50%;
	    text-align: center;
    	li{
			display:inline-block
		}
		a{
			padding:10px
		}
		i{
			font-size:23px
		}
    }
	
}



 
 
@media (max-width: 480px) {
	.contenedorPlanes{
			margin: 100px auto 0;
			width: 97%;
		 
		h1{
			margin: 11px 8px;
		}
		.btnDescargar{
			 margin-bottom: 10px;
		}
		aside{
			width: 48.199%;
			margin: 5px .9%;
		}
		.imgLoader {
			height: 173px;
		}

	}
	.menu, .navegacion{
		a{
			display:none !important
		}
		.cuentaBtn{
			display:block !important
		}
	}
	.navegacion{
		ul{
			padding:0
		}
	}
	.section2{
		    
		aside{
			width:44%;
			display:inline-block;
			margin: 0 2%;
			display:none
		}
		section{
			display:block
		}
		img{
			width: 60%;
		 
		}
		h2{
			font-size: 15px;
    		line-height: 27px;
    		margin:0 !important
		}
		>p{
			width: 99%;
		    margin: 22px auto;
		    line-height: 20px;
		    font-size: 12px;
		}
	}
	.section3{
		ul{
			display:none
		}
		section{
			display:block
		}
		li{
			display:inline-block;
			width:33%
		}
		h3{
			font-size: 30px;
		    line-height: 36px;
		    position: relative;
		    top: 20px;
		    margin: auto;
		    text-align: center;
		}
		li:nth-child(2){
			// top: 120px;
	    	position: relative;
		}
		img{
			width: 60%;
			margin: auto;
			display: block;
			position:relative
		}
	}
	 
	footer{
		 
		bottom: 0;
		z-index:100;
		ul{
			padding: 0;
			a{
				padding: 5px
			}
		}
		
	}
}
@media (max-width: 375px) {
	 

}
 


